# Dependencias base (versiones compatibles probadas)
numpy==1.26.4
opencv-python==4.9.0.80
psutil==5.9.8
tqdm==4.66.1
scipy==1.11.4

# Dependencias de ML
onnx==1.16.0
onnxruntime-gpu==1.16.3

# Gradio
gradio==4.44.0
gradio-rangeslider==0.0.8

# InsightFace
insightface==0.7.3



